
body{
	background: url('../images/bg.jpg');
	font-family: 'FuturaMedium', sans-serif;
}

a{
  color: #2563D0;
  text-decoration: none;
}

#main a:hover{
  text-decoration: underline;
}

img{
  border: 0;
}

strong{
  font-family: 'FuturaCondensedExtraBold';
  font-weight: normal;
}

#header{
  background: url('../images/tile_bg.png') bottom center repeat-x;
}

#main, #location{
  background: url('../images/tile_bg.png') bottom center repeat-x,
  url('../images/shadow.png') top center repeat-x;
}

#header > .content,
#main > .content,
#location > .content,
#footer > .content{
  margin: 0 auto;
  width: 1100px;
}

#header > .content{
  height: 491px;
  background: url('../images/top.png') no-repeat;
  position: relative;
}

#header h1{
  text-indent: -9999px;
  margin: 0 0 100px;
}

#nav_social{
  position: absolute;
  right: 26px;
  top: 0;
  padding: 9px 0 0;
  margin: 0;
  background: url('../images/hang.png') 10px 0 no-repeat;
}

#nav_social li{
  list-style-type: none;
  float: left;
  padding: 0px 6px;
  line-height: 32px;
  background: #9ed0c3;
  margin-right: 10px;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);
}

#nav_social li span{
  float: left;
  line-height: 32px;
  margin: 0;
}

#nav_social li a{
  float: left;
  cursor: pointer;
}

#nav_social li #tw, #nav_social li #fb, #nav_social li#newsletter span{
  text-indent: -9999px;
  font-size: 0;
  height: 25px;
  float: left;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  margin: 0;
  padding: 4px;
}


#nav_social li#newsletter a span{
  float: right;
  width: 30px;
  background: url('../images/iconM.png') 4px 4px no-repeat;  
}

#nav_social li#newsletter a:hover span{
  background: url('../images/iconMhover.png') 4px 4px no-repeat;  
}

#nav_social li #tw{
  width: 26px;
  background: url('../images/iconTW.png') 4px 4px no-repeat;
}

#nav_social li #tw:hover{
  background: url('../images/iconTWhover.png') 4px 4px no-repeat;
}

#nav_social li #fb{
  width: 16px;
  background: url('../images/iconFB.png') 4px 4px no-repeat;
}

#nav_social li #fb:hover{
  background: url('../images/iconFBhover.png') 4px 4px no-repeat;
}

#header span, nav ul li a, #nav_social li, #nav_social li a{
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: 0px 1px 0px #ebfcf9;
  filter: dropshadow(color=#ebfcf9, offx=0, offy=1);
  color: #272727;
}

#header span{
  margin-top: 5px;
  display: inline-block;
}

#header span.date{
  margin-left: 40px;
}

#header span.location{
  margin-left: 20px;
}

nav ul{
  margin: 18px 0 0 27px;
}

nav ul li{
  float: left;
}

nav ul li a{
  text-decoration: none;
  background: #9ed0c3;
  line-height: 36px;
  display: block;
  text-align: center;
}

nav ul li:hover a{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: #9ed0c3; /* Old browsers */
  background: -moz-linear-gradient(top, #9ed0c3 0%, #76a699 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ed0c3), color-stop(100%,#76a699)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9ed0c3 0%,#76a699 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9ed0c3 0%,#76a699 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9ed0c3 0%,#76a699 100%); /* IE10+ */
  background: linear-gradient(top, #9ed0c3 0%,#76a699 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ed0c3', endColorstr='#76a699',GradientType=0 ); /* IE6-9 */

  -webkit-box-shadow: 0px 0px 8px 1px #aeded2;
  -moz-box-shadow: 0px 0px 8px 1px #aeded2;
  box-shadow: 0px 0px 8px 1px #aeded2;
}

nav ul li#blog a{
  width: 75px;
  margin-right: 14px;
}

nav ul li#tickets a{
  width: 122px;
  margin-right: 11px;
  color: #dd0000;
}

nav ul li#contact a{
  width: 104px;
}


#main .tmp{
  width: 19px;
  display: table-cell;
}

#main .bg{
  width: 58px;
  background: url('../images/ladder_main.png') 100% 100% no-repeat;
  display: table-cell;
  padding-left: 26px;
}

#main > .content{
  background: url('../images/ladder.png') 54px 0 no-repeat;
}

#main .column{
  display: inline-block;
  vertical-align: top;
  padding-left: 68px;
  text-align: left;
  width: 468px;
}

#main{
  position: relative;
  padding: 4px 0 50px;
}

.box{
  background: #deeeea;
  margin-top: -2px;
}

#main h2{
  background: url('../images/sprites.png') no-repeat;
  text-indent: -9999px;
  height: 24px;
  margin: 0 0 0 20px;
}

#location .location{
  padding-top: 20px;
}

#speakers.column{
  width: 460px;
  padding-left: 0;
}

#main #speakers h2{
  width: 128px;
  background-position: 0 0;
  margin-top: 18px;
}

#speakers .people{
  width: 50px;
  height: 110px;
  position: absolute;
  bottom: 365px;
  left: 36px;
  background: url('../images/lever.png') no-repeat;
}

#speakers .box{
  padding-bottom: 163px;
  width: 460px;
}

.comment_box{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c5d5d1;
  display: inline-block;
  width: 100%;
}

.comment_box:first-child .avatar{
  margin-top: 9px;
}

.avatar{
  margin: 31px 29px 7px 10px;
  background: #c0d3ce; /* Old browsers */
  background: -moz-linear-gradient(top, #c0d3ce 0%, #76a095 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0d3ce), color-stop(100%,#76a095)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c0d3ce 0%,#76a095 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c0d3ce 0%,#76a095 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c0d3ce 0%,#76a095 100%); /* IE10+ */
  background: linear-gradient(top, #c0d3ce 0%,#76a095 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d3ce', endColorstr='#76a095',GradientType=0 ); /* IE6-9 */
  float: left;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.long_avatar{
  width: 80px;
  height: 240px;
}

.comment_box:first-child .comment{
  top: 9px;
}

.comment{
  display: inline-block;
  width: 295px;
  background: url('../images/speaker_area.png') no-repeat;
  position: relative;
  top: 31px;
}

.comment .name{
  margin: 0 10px;
  display: block;
  background: url('../images/sp_hr.png') bottom center no-repeat;
  padding: 10px 0;
  text-decoration: none;
  color: #222;
}

.comment .name:hover{
  text-decoration: underline;
}

.comment_box:first-child .comment div.bottom{
  position: absolute;
  bottom: -21px;
}

.comment div{
  padding: 10px;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  background: url('../images/speaker_bg.png') repeat-y;
  margin-left: 1px;
  text-align: left;
}

.comment div.bottom{
  background: url('../images/speaker_bg_bottom.png') no-repeat;
  width: 294px;
  height: 26px;
  margin-left: 1px;
  display: inline-block;
  padding: 0;
}

.block_ribbon{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
}

.ribbon{
  text-align: center;
  width: 220px;
  height: 36px;
  line-height: 36px;
  background: url('../images/ribbon.png') no-repeat;
  color: #353635;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 0px 1px 0px #ebfcf9;
  filter: dropshadow(color=#ebfcf9, offx=0, offy=1);
  display: inline-block;
  margin-top: 57px;
}

.block_ribbon .ribbon{
  width: 240px;
  background: url('../images/ribbon2.png') no-repeat;
  margin-top: 0;
}

.block_ribbon .ribbon.alt {
  width: 270px;
  background: url('../images/ribbon3.png') no-repeat;
}

#speakers .new.comment_box{
  position: absolute;
  bottom: 50px;
  width: 460px;
}

#speakers .new.comment_box .avatar{
  margin-top: 16px;
  margin-bottom: 45px;
}

#speakers .platform{
  width: 177px;
  height: 149px;
  position: absolute;
  bottom: -52px;
  right: -1px;
  background: url('../images/platform.png') no-repeat;
}

#about, #supporters, #patronage, #vim {
  margin-left: 0px;
	width: 468px;
	display: inline-block;
}

#about {
  margin-left: 0px;
  position: relative;
  width:425px;
}

#main #about h2{
  background-position: 0 -62px;
  width: 88px;
  margin-top: 18px;
}

#about .box{
  width: 367px;
  padding: 20px 40px 20px 20px;
  font-size: 18px;
}

#about .box p {
  text-align: left;
}

#about .people{
  background: url('../images/elevator.png') no-repeat;
  width: 102px;
  height: 199px;
  position: absolute;
  right: -73px;
  top: 102px;
}

#patronage, #vim, #speakers2 {
  background: url('../images/ladder_h2.png') no-repeat;
}

#main #supporters h2, #main #patronage h2, #main #vim h2, #main #agenda h2, #main #speakers2 h2 {
  margin-left: 70px;
  background-position: 0 -96px;
  width: 163px;
  margin-top: 15px;
  display: inline-block;
}

#main #patronage h2{
  background-position: 0 -129px;
}

#main #vim h2{
  background-position: 0 -161px;
	width: 212px;
}

#main #agenda h2{
  background-position: 0 -193px;
}

#main #speakers2 h2{
  background-position: 0 0;
}

#main #get_tickets {
  position: absolute;
  top: -19px;
  left: 50%;
  margin: 0 0 0 -294px;
  z-index: 10;
}

#supporters .box, #patronage .box{
  width: 427px;
  padding: 20px;
}

#supporters .box img, #patronage .box img {
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 15px;
}

#location .location{
  width: 958px;
  padding-left: 84px;
  padding-bottom: 64px;
  padding-right: 58px;
  background: url('../images/ladder_location.png') 26px 0 no-repeat;
  position: relative;
  display: inline-block;
}

#location h2{
  color: #f1f8f7;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
}

#location h2 span{
  text-indent: -9999px;
  background: url('../images/sprites.png') 0 -30px no-repeat;
  width: 130px;
  height: 24px;
  float: left;
  margin-left: 20px;
  margin-right: 16px;
}

#location .box{
  padding: 13px 13px 26px 16px;
  text-align: right;
}

#location .box a{
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: #2563d0;
}

#location .box a:hover{
  text-decoration: underline;
}

#location .car{
  position: absolute;
  background: url('../images/car.png') no-repeat;
  width: 266px;
  height: 91px;
  bottom: 35px;
  left: -56px;
}

#location h2{
  margin: 0;
}

#footer{
  height: 330px;
  background: url('../images/footer_bg.jpg') repeat-x;
}

#footer .content{
  height: 100%;
  position: relative;
}

p.soon{
  text-align: center;
  font-size: 24px;
}

#about .soon{
  margin: 140px 0;
}

#supporters .soon{
  margin: 60px 0;
}

#footer .made-by{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#footer .made-by p {
  float: left;
  line-height: 19px;
  font-family: "Minion Pro",Times,"Times New Roman",serif;
  font-size: 16px;
  color: #fff;

}

footer .made-by a.logo-monterail {
  color: white;
  font-size: 0;
  display: inline-block;
  width: 100px;
  height: 19px;
  background: url('../images/logo-monterail-home.png') no-repeat top;
  vertical-align: text-bottom;
}

::selection{background: #598aa7;}
::-moz-selection{background: #598aa7;}

#main > .content {
	display: table;
}

#main > .content .column {
	display: table-cell;
	vertical-align: top;
	float: left;
}


#vim {
  margin-left: 0px;
  position: relative;
}

#vim h2{
    background-position: 0 -62px;
    width: 88px;
}

#vim .box{
  padding: 20px 40px 20px 20px;
  font-size: 15px;
  text-align: left;
	width: 407px;
}

#agenda{
  width: 1016px;
  padding: 0 0 0 84px;
  margin: 0 auto;
	position: relative;
}

#main #agenda h2{
  margin-left: 0;
}

#agenda .box{
  background: none;
}

#agenda .links{
  float: right;
  margin: 15px 22px 0 0;
}

#agenda .links a{
  display: inline-block;
  text-indent: -9999px;
  height: 21px;
  overflow: hidden;
  margin: 0 0 0 15px;
}

#agenda .links .gist{
  width: 102px;
  background: url('../images/gist.png') no-repeat;
}

#agenda .links .ical{
  width: 99px;
  background: url('../images/ical.png') no-repeat;
}

#agenda .day{
  float: left;
  margin: 0 0 0 17px;
}

#agenda .day#fri{
  margin-left: 0;
}

#agenda .day > h3{
  margin: 12px 0 6px 0;
}

.calendar{
  background: #deeeea;
  width: 320px;
  display: inline-block;
}

.calendar .row{
  background: #cfe2df;
  margin-bottom: 1px;
  height: 59px;
  width: 320px;
}

.calendar .hour{
  float: left;
  font-size: 9px;
  color: #525252;
  line-height: 40px;
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
  width: 33px;
  height: 59px;
  border-right: 1px solid #DEEEEA;
}

.calendar .events{
  float: left;
  width: 140px;
  height: 1px;
  position: relative;
}

.calendar .events.major{
  width: 200px;
}

.calendar .events.minor{
  width: 80px;
}

.calendar .events.only{
  width: 280px;
}

.calendar .events > div {
  background: rgba(255,255,255,0.5);
  vertical-align: top;
  position: absolute;
  width: 100%;
}

.calendar .events > div h3{
  padding: 5px;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
}

.calendar .events > div span{ /* Y U NO CLASS?? */
  padding: 5px 5px 0 0;
  float: right;
  font-size: 9px;
  color: #525252;
}

.calendar .events + .events > div {
  margin-left: 1px;
}

.calendar .events > div:hover{
  background: rgba(255,255,255,0.7);
  cursor: pointer;
}

.calendar .events > div.selected{
  background: #fff;
}

.overlay{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.calendar .events p{
	display: none;
	position: absolute;
	width: 400px;
	left: -450px;
	top: -20px;
	background: #e2eceb;
	-webkit-box-shadow: 0px 0px 21px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 21px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 21px 8px rgba(0, 0, 0, 0.4);
	padding: 20px;
	font-weight: normal;
	z-index: 10;
	line-height: 18px;
}

#fri .calendar .events p{
	left: auto;
	right: -455px;
}

.calendar .events p span{
	font-size: 13px;
	float: left;
}

.calendar .events p .arrow{
  position: absolute;
  width: 15px;
  height: 18px;
  background: url('../images/overlay_arrow.png') no-repeat;
  top: 20px;
  right: -15px;
}

#fri .calendar .events p .arrow{
  background: url('../images/overlay_arrow_left.png') no-repeat;
  right: auto;
  left: -15px;
}

.calendar .events p .time{
	float: right;
	color: #3f3f3f;
}

.calendar .events p .title{
	color: #333;
	font-size: 18px;
	display: block;
	float: none;
	padding-bottom: 10px;
}

.t15{
	height: 15px;
}

.t30{
	height: 30px;
}

.t45{
	height: 45px;
}

.t60{
	height: 60px;
}

.t75{
	height: 75px;
}

.t90{
	height: 90px;
}

.t120{
    height: 120px;
}

.t180{
    height: 180px;
}

.t240{
    height: 240px;
}

.t300{
    height: 300px;
}

.t360{
    height: 360px;
}

.t420{
    height: 420px;
}

.t480{
    height: 480px;
}

.t540{
    height: 540px;
}

.t720{
    height: 599px;
}

.calendar .events p span.speaker {
  padding-bottom: 1em;
	color: #000;
	display: block;
	float: none;
}

.mq1{
	margin-top: 15px;
}

.mq2{
	margin-top: 30px;
}

.mq3{
	margin-top: 45px;
}


.t30 h3{
  line-height: 20px;
  margin-right: 60px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
