@import '../../scss/mixins';

.container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  &:first-child {
    border-top: none;
  }
}

.content {
  margin: 10px;
  border: 1px solid black;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  margin: 0 -1px -1px 0;
}

.partner {
  flex: 1;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: 0;
  padding-top: 50%;
  position: relative;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  span {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: 100%;
    white-space: pre;
  }
}

@include tablet {
  .container {
    border-top: none;
  }
}
