@import '../../scss/mixins';

.container {
  border-bottom: 1px solid black;
}

.content {
  border: 1px solid black;
  margin: 10px;
}

.supporters {
  border-top: 1px solid black;
}

.supporter {
  display: block;
  width: 100%;
  height: 10vw;
  position: relative;
  border-bottom: 1px solid black;

  span {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: 100%;
    white-space: pre;
  }

  &:last-child {
    border-bottom: 0;
  }
}

@include mobile {
  .supporter {
    height: 15vh;
  }
}

@include desktophd {
  .supporter {
    height: 8vw;

    span {
      left: 30px;
      top: 10px;
      width: calc(100% - 60px);
      height: calc(100% - 20px);
    }
  }
}
