%article.about
  %p
    %strong wroc_love.rb
    is an awesome conference that will let you learn things, hang out with awesome people and hate in the open space.
    Being community-organised allows for greater freedom in everything, so it'll be cool. This copy won't probably stay here long.

%a.tickets(href="#tickets") Get tickets!

%article#speakers
  %header.subheader
    %h1 Speakers

  - 7.times do
    .speaker
      %img.photo(src="/images/norris.jpg")
      %h2 Chuck Norris
      %h3 Roundhouse LLC

  .call_for_papers
    %h2 Do you want to be a speaker?
    %p
      Show us what you've got and
      %a(href="http://cfp.wrocloverb.com") submit your proposal
