%header
  #box
    %h1 wroc_love.rb
    %h2 March 1–3 2013&nbsp;&nbsp;&nbsp;&nbsp;Wrocław, Poland

#content
  %p
    Your next year Ruby conference.
    %br
    Subscribe and keep up to date!

  %form{:method => "POST", :action => "http://stevepopolsku.us2.list-manage.com/subscribe/post?u=11963149428be1f1d9d2a5dae&amp;id=f7625e18e2"}
    %input{:name => "EMAIL", :placeholder => "email address"}
    %button(type="submit") Subscribe

%footer
  %p This community event is proudly organized by
  %a(href="http://drug.org.pl") DRUG

