%article.about
  = render 'about'

%article.speakers
  %h1
    Speakers
  To be announced

%article.agenda
  %h1 Agenda
  #agenda_area
  .loading &nbsp;

%article.supporters
  %h1 Supporters
  .loading &nbsp;

.bottom_column
  %article.partners
    %h1 Partners
    .loading &nbsp;

  %article.organizers
    %h1 Organizers
    .loading &nbsp;

%article.twitter
  = render 'twitter'

