%article.about
  = render 'about'

%article.supporters
  %h1 Supporters
  .loading &nbsp;

.bottom_column
  %article.partners
    %h1 Partners
    .loading &nbsp;

%article.twitter
  = render 'twitter'

.clear
%article.coc
  = render 'coc'
