%header
  #box
    %h1 wroc_love.rb
    %h2 March 1–3 2013&nbsp;&nbsp;&nbsp;&nbsp;Wrocław, Poland

#content
  %p
    Your this year Ruby conference.
    %br
    %br

    %a{:href => "https://tito.io/wrocloverb/2013", :class => 'button button-first button-large'} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buy tickets&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %a{:href => "http://cfp.wrocloverb.com", :class => 'button button-large'} Become speaker

    %br
    %br
    Keep up to date with speakers,
    %br
    agenda and tickets announcements:

  %form{:method => "POST", :action => "http://stevepopolsku.us2.list-manage.com/subscribe/post?u=11963149428be1f1d9d2a5dae&amp;id=f7625e18e2"}
    %input{:name => "EMAIL", :placeholder => "email address"}
    %button(type="submit") Subscribe

%footer
  %p This community event is proudly organized by
  %a(href="http://drug.org.pl") DRUG

