%header
  #box
    %h1 wroc_love.rb
    %h2 March 2–3 2013&nbsp;&nbsp;&nbsp;&nbsp;Wrocław, Poland

#content
  %p
    Your next year Ruby conference.
    %br
    Subscribe to keep up to date!

  %form{:method => "POST"}
    %input{:name => "email", :placeholder => "user@example.com"}
    %button(type="submit") Subscribe

%footer
  %p This community event is proudly organized by
  %a(href="http://drug.org.pl") DRUG

