%header
  #box
    %h1 wroc_love.rb 2013
    %h2 2-3 March 2013, Wrocław, Poland

  #icons
    .wrapper
      %p Twitter
      %p Facebook

#content
  %p Subscribe to our newsletter to be up to date.

  %form{:method => "POST"}
    %input{:name => "email", :placeholder => "user@example.com"}
    %button(type="submit") Subscribe

%footer
  %p Brought to you by the guys from DRUG.
  %p
    %a(href="mailto:all@wrocloverb.com") Contact us


