@import '../../scss/mixins';

.container {
  position: relative;
  display: flex;
  border-bottom: 1px solid black;
  height: 35vw;
}

.postcard {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
  border: 1px solid #cc0000;
  color: #cc0000;
  font-size: 2vw;
  padding: 0.5vw;
  background: #fff;
}

.speaker {
  margin-right: 10px;
}

@include mobile {
  .container {
    height: 50vw;
  }
  .postcard {
    left: 0;
    top: 0;
    border: none;
    width: 100%;
    height: 100%;
  }
  .info {
    font-size: 4vw;
    right: 1vw;
  }
}
