@import '../../scss/mixins';

.container {
  position: relative;
}

.box {
  min-height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid black;
}

.text {
  font-size: 1.5vw;
  padding: 15px;
}

.name {
  font-family: 'sk-modernistregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dot {
  color: #cc0000;
}

.header {
  font-size: 3vw;
  margin-bottom: 1vw;
  text-align: center;
}

.button {
  background: none;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: lowercase;
  font-size: 1.3vw;

  >span {
    border-bottom: 1px solid black;
    display: inline-block;
  }
  >div {
    margin-top: 0.25vw;
  }
}

.text .button {
  >div {
    transform: rotateX(180deg);
  }
}

@include mobile {
  .box {
    font-size: 6vw;
    min-height: 50vw;
  }

  .button {
    font-size: 4vw;
  }

  .header {
    font-size: 5vw;
  }

  .text {
    font-size: 4vw;
  }
}

@include tablet {
  .box {
    min-height: 38vw;
  }
}
