@import '../../scss/mixins';

.container {
  margin-top: auto;
  height: 5vw;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container a {
  display: inline-block;
  padding: 0.5vw;
  font-size: 1.15vw;
}

@include mobile {
  .container {
    height: 10vw;
  }

  .container a {
    padding: 2vw;
    font-size: 3.5vw;
  }
}

@include tablet {
  .container a {
    padding: 0.75vw;
    font-size: 2vw;
  }
}
