:markdown
  # We want to confront ideas

  You might not have heard about us because we are only `1.year.old`. An infant, really. Born of [DRUG](http://drug.org.pl/) to bring something new to the world of Ruby. We had a dream, of a not-for-profit event organized by the community. Shaped by the speakers ready to fight with arguments, but always in a friendly atmosphere and with mutual respect. With an audience that values diversity of opinions and experiences and can also express its voice on stage. We believe that we can fulfill this promise [with your little help](http://www.youtube.com/watch?v=jBDF04fQKtQ).
