:markdown
  # About

  DrummerHead is the lead Designer working at
  [Cubox](#) and has years of experience being a certified Expertologist. You can call what he does UX, UI, IA, Usability, Accesibility, Front end; or any other hyped acronym you want. In truth, he is just the bridge between information and humans getting what they want in the fastest and best way possible.

  Responsive Web Design is all about having the same content visible in all devices, from tiny mobiles to huge monitors, preserving proper readability and adapting to the medium. It also entails a new way of creating content, in which interaction between designers and programmers is more important. In the Ruby world programmers generally feel proud of being "agile", however when you zoom out, you see that the interaction between designers and programmers is more waterfally than you'd want.

  In the talk I will present the concept of responsiveness and teach with examples how to make a layout responsive with the one-two punch of fluid layouts and media queries. I will also show how to make the interaction between designers and programmers be truly collaborative and not just a pass-me-down PSD from the designer to implementors and programmers.
