:markdown
  # We want to confront ideas

The main goal of the conference is very clear. We want to help Ruby professionals become better at what they do. Wroc_love.rb serves best to people who are already fluent with Ruby. The ideas presented at our conference are very advanced. They are meant to inspire the way we write code, the way we help our clients and users. It’s not uncommon for us to present you ideas that come from the Java and .NET worlds, we believe that their ideas can have a great influence on our community. There are good reasons, why our conference is called “the best Java conference in the Ruby world”.
