:markdown
  # About

  ## We want to confront the ideas

  You might not have heard about us because we are only `1.year.old`. An infant, really. Born by [DRUG](http://drug.org.pl/) to bring something new to the world of Ruby. We had a dream. Of an event organized by the community for non-profit. Shaped by speakers ready to fight with arguments, but always in a friendly atmosphere and with mutual respect. With an audience that value the diversity of opinions and experiences and also can express its voice on the stage. We believe that we can fulfill this promise [with your little help](http://www.youtube.com/watch?v=jBDF04fQKtQ).
