!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title wroc_love.rb
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Play:400,700"}
  %body
    #main
      .content
      = yield
