!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title wroc_love.rb
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css", :media => "screen"}

    %script{:type => 'text/javascript', :src => '/javascripts/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/moment.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/agenda.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/main.js'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24474861-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    = render 'speakers'
    = render 'supporters'

  %body
    %header#top
      .container
        %h1.logo
          %img{:src => '/images/logo.png', :alt => 'wroc_love.rb'}
        %nav.topnav
          %ul.horizontal
            %li
              %a.newsletter{:href => '#newsletter'} Newsletter
            %li
              %a.twitter{:href => 'https://twitter.com/wrocloverb'} Follow us
        %h2.info
          1-3 March 2013
          %br
          Wrocław
          %strong Poland

        %ul.actions.horizontal
          %li
            %a.button.dark{:href => 'http://blog.wrocloverb.com/'} Blog
          %li
            %a.button.light{:href => 'http://cfp.wrocloverb.com/'} Call for Papers

    %section.main_section.container
      = yield

    %footer
      .container
        %article.location
          %h1 Location
          %h2 University of Wrocław, Institute of Computer Science

          .map

        %nav.bottomnav
          %ul.horizontal
            %li
              %a{:href => '#top'}
                %img{:src => '/images/logo-small.png', :alt => 'wroc_love.rb'}
            %li
              %a{:href => 'http://blog.wrocloverb.com/'} Blog
            %li
              %a{:href => 'http://cfp.wrocloverb.com/'} Call for Papers
            %li
              %a{:href => '#newsletter'} Newsletter
            %li
              %a{:href => 'https://twitter.com/wrocloverb'} Follow us
