!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title wroc_love.rb
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Play:400,700|Lato:400,700|Open+Sans:400,700"}
  %body
    #previous
      Previous editions:
      %a(href="http://2012.wrocloverb.com") 2012
    #main
      = yield
    #legal
      photo by supervillain / CC-BY via
      %a(href="http://www.flickr.com/photos/jarkko/6822921654/sizes/l/in/photostream/") flickr

