%script{:id => 'organizers-template', :type => 'text/x-handlebars-template'}
  {{#each organizers}}
  .organizer
    %a{:href => '{{link_url}}'}
      %img{:src => '{{photo_url}}'}
    .info
      %h2 {{name}}
  {{/each}}