:markdown
	## Regulamin

	**Regulamin uczestnictwa w Konferencji WrocLove.rb**

	1. **Organizator**

		1. Organizatorem Konferencji jest Fundacja „GIK"; os. Pod Lipami 16/14, 61-638 Poznań. NIP 972-124-15-14, REGON 302277133

		2. Kontakt z organizatorem jest możliwy telefonicznie: (+48) 791 888 072 lub mailowo: fundacjagik@gmail.com.

	2. **Termin i miejsce**

		3. Konferencja odbędzie się w dniach 22-24 marca 2019 roku we Wrocławiu.

		4. Miejscem konferencji jest Uniwersytet Wrocławski,

	3. **Uczestnictwo i płatności**

		5. Bilety na konferencję można kupić przez link zamieszczony na stronie WrocLove.rb. Pod zamieszczonym linkiem bilety dostępne będą w pulach. Organizator nie gwarantuje dostępności biletów.

		6. Uczestnik uiści opłatę podczas rejestracji online za pomocą platformy PayU (szybki przelew lub płatność kartą), lub przelewem na rachunek EUR: 83 1090 1737 0000 0001 2288 3168

		7. Za rozliczanie i bezpieczeństwo płatności PayU odpowiada PayU S.A.; ul. Grunwaldzka 182, 60-166 Poznań, NIP 7792308495, REGON 300523444, krajowa instytucja płatnicza, nadzorowana przez Komisję Nadzoru Finansowego, wpisana do Rejestru usług płatniczych pod numerem IP1/2012.

		8. Na miejscu konferencji wstęp weryfikowany będzie na podstawie dokumentu tożsamości.

		9. Standardowy koszt uczestnictwa w konferencji wynosi 60 EUR.

		10. Dodatkowo uczestnik ma możliwość nabycia biletu "Supporter". Bilet taki kosztuje 600 EUR. Nabycie biletu typu supporter dodatkowo gwarantuje możliwość zakupu dodatkowych 3 biletów standardowych w uzgodnionym z organizatorem trybie.

		11. Uczestnik typu "Supporter" może dostarczyć organizatorowi logo na adres [info@wrocloverb.com](mailto:info@wrocloverb.com). Logo te pojawi się na stronie konferencji. Organizator zastrzega sobie prawo do odmowy publikacji logotypu, jeżeli będzie zawierało treści niezgodne z prawem lub uważane za obraźliwe.

	4. **Ochrona danych osobowych**

		12. Dane osobowe uczestników Konferencji będą przetwarzane w celach organizacyjnych (m.in. weryfikacja dokumentu tożsamości na wstępie).

		13. Dokonanie rejestracji i płatności wiąże się z przekazaniem przez Organizatora podstawowych danych uczestnika (imię, nazwisko, adres mailowy) podmiotowi wskazanemu w punkcie 3. 3. Dane te będą przetwarzane w zakresie niezbędnym do realizacji płatności.

		14. Dane osobowe uczestników będą przetwarzane zgodnie z obowiązującymi przepisami, w szczególności z Ustawą z 29 sierpnia 1997r. o Ochronie Danych Osobowych (Dz.U. z 2016r. poz. 922).

		15. Uczestnik przyjmuje do wiadomości, że przysługuje mu prawo wglądu do treści jego danych oraz ich poprawiania.

		16. Podanie danych osobowych oraz wyrażenie zgody na ich przetwarzanie jest dobrowolne, lecz niezbędne do udziału w Konferencji.

	5. **Rezygnacja z udziału**

		17. Możliwość zwrotu biletów w razie rezygnacji z uczestnictwa, choroby bądź innych zdarzeń będzie możliwa wyłącznie po uzgodnieniu tego z organizatorem i za jego zgodą.

		18. W wypadku wyrażeniu przez organizatora zgody na rezygnację z udziału, uczestnik poda numer rachunku na który w ciągu 14 dni organizator zwróci pieniądze.


