- speakers.each do |speaker|
  .speaker{:style => "background-image: url(#{speaker['photo_url']})", tabindex: 0}
    .description
      .info
        %h2= speaker['name']
      .content= speaker['bio']