%h1 Twitter
%a.twitter-timeline{:href => 'https://twitter.com/wrocloverb', 'data-widget-id' => '291678192014589952'} Tweets by @wrocloverb
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
