article.agenda {
  padding-top: 40px;

  h1 {
    margin-bottom: 24px;
  }
}

#agenda_area {
  margin-top: 64px;
  margin-bottom: 40px;
  display: flex;
  position: relative;

  .arrows {
    position: absolute;
    top: -27px;
    left: 0;
    width: 100%;
    display: none;
  }

  .arrow-left,
  .arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
  }

  .arrow-left {
    left: 0;
    border-width: 10px 14px 10px 0;
    border-color: transparent #c9c9c9 transparent transparent;
  }

  .arrow-right {
    right: 0;
    border-width: 10px 0 10px 14px;
    border-color: transparent transparent transparent #c9c9c9;
  }

  .times {
    margin: 0;
    padding: 0 24px 0 0;
    flex: 0;
  }

  .times {
    li {
      display: block;
      font-size: 14px;
      font-family: "sk-modernistregular";
      line-height: 24px;
      height: 24px;
      color: #bbb;

      &:nth-child(4n + 1) {
        color: #888;
      }
    }
  }

  .days-container {
    width: 100%;
    margin: -36px 0 0 0;
    overflow: auto;
  }

  .days {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    > li {
      flex: 1;
      text-align: center;

      > ul {
        list-style: none;
        position: relative;

        > li {
          box-sizing: border-box;
          position: absolute;
          left: 5px;
          width: calc(100% - 10px);
          text-align: left;
          font-size: 14px;
          font-family: "sk-modernistregular";
          background: $accent;
          color: $bg-color;
          padding: 0.25em 0.5em;
          border-bottom: 1px dotted #fff;
        }
      }
    }
  }

  .day {
    font-size: 24px;
    font-family: "sk-modernistbold";
    line-height: 36px;
    height: 36px;
    color: $accent;
    text-transform: uppercase;
  }
}

@include mobile {
  #agenda_area {
    .arrows {
      display: block;
    }

    .days {
      width: 300%;
    }
  }
}
