$bg-color:       #FFF;
$text-color:     #000;
$accent:         #E94343;
$dark-button:    #3F4C4A;
$light-button:   #FFF;
$heading-on-red: #323D3A;
$link-hover:     #F8A25F;

$shadow-level:   20%;

$page-width:     1120px;
$main-column:     635px;
$column-spacing:   60px;
$second-column: $page-width - $main-column - $column-spacing;