$bg-color: #fff;
$text-color: #000;
$accent: #b70000;
$dark-button: #3f4c4a;
$light-button: #fff;
$heading-on-red: #323d3a;
$link-hover: #f8a25f;
$shadow-level: 20%;
$page-width: 1120px;
$main-column: 635px;
$column-spacing: 60px;
$second-column: $page-width - $main-column - $column-spacing;

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
