@import "bourbon/bourbon";
@import "variables";
@import "agenda";
@import "leaflet";

@font-face {
  font-family: "sk-modernistbold";
  src: url("../fonts/sk-modernist-bold-web.woff2") format("woff2"),
    url("../fonts/sk-modernist-bold-web.woff") format("woff"),
    url("../fonts/sk-modernist-bold-web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sk-modernistlight";
  src: url("../fonts/sk-modernist-light-web.woff2") format("woff2"),
    url("../fonts/sk-modernist-light-web.woff") format("woff"),
    url("../fonts/sk-modernist-light-web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sk-modernistregular";
  src: url("../fonts/sk-modernist-regular-web.woff2") format("woff2"),
    url("../fonts/sk-modernist-regular-web.woff") format("woff"),
    url("../fonts/sk-modernist-regular-web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
h1,
h2,
h3,
nav ul,
ul.actions {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "sk-modernistbold";
  line-height: 1.2;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: "sk-modernistlight", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $accent;
}
a:hover {
  color: $link-hover;
}

.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 10px;
}

ul.horizontal li {
  display: inline;
  list-style: none;
}

.actions a {
  margin-right: 20px;
}

a.button {
  background: $dark-button;
  color: $bg-color;

  display: inline-block;
  position: relative;
  padding: 1em 2em;
  border-bottom: 4px solid mix(#000, $dark-button, $shadow-level);

  font-size: 14px;
  line-height: 1;

  border-radius: 3px;

  @include transition(all 0.05s);

  &:hover {
    border-bottom-width: 6px;
    top: -2px;
    margin-bottom: -2px;
  }
  &:active {
    border-bottom-width: 0;
    top: 4px;
  }

  &.light {
    background: $light-button;
    color: $accent;
    border-bottom-color: mix(#000, $light-button, $shadow-level);
  }
}

section h1 {
  color: $accent;
  font-size: 82px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

header {
  .container {
    background: url("/images/topimage_wroclove_new.png") no-repeat center;
    background-size: contain;

    height: 390px;
    position: relative;
  }

  .logo {
    padding: 5px 0;
  }

  .info {
    color: $heading-on-red;
    font-family: "sk-modernistregular";
    font-size: 36px;
    line-height: 1.2;
    padding: 0.25em 0 1em;
  }

  .actions {
    height: 50px; // prevents movement of the background
  }
}

.topnav {
  position: absolute;
  right: 0;
  top: 10px;

  a {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-family: "sk-modernistregular";
    line-height: 1;
    text-transform: uppercase;

    &.tickets {
      margin-right: 30px;
    }
  }
}

.main_section {
  @include clearfix;
  margin: 0 auto 80px;

  article {
    margin: 30px 0;
  }
}

.additional {
  float: left;
  width: $second-column;
}

.about {
  a {
    font-weight: bold;
  }

  h1 {
    font-size: 70px;
    margin: 30px 0;
    text-align: center;
  }

  h2 {
    color: $accent;
    text-transform: uppercase;
    font-size: 21px;
  }

  p {
    margin: 15px 0 45px;
    text-align: justify;
    font-size: 20px;
  }
}

.speakers {
  h1 {
    margin-bottom: 20px;
  }

  > .speaker {
    $inactive-height: 300px;
    $active-height: 396px;
    $info-height: 37px;

    position: relative;
    display: inline-block;
    margin: 0 10px 6px -4px;
    width: floor(($page-width - 40px) / 4);
    height: $inactive-height;
    overflow: hidden;
    background-position: center;

    @include transition(height 0.5s);

    h2,
    h3 {
      font-size: 23px;
      line-height: 1;
    }
    h2 {
      color: $accent;
    }
    h3 {
      color: $bg-color;
      font-weight: normal;
    }

    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      color: $bg-color;
      @include transform(translateY(100%));
      @include transition(transform 0.5s);
    }

    .info,
    .content {
      padding: 0.5em 1em;
      background: rgba(#000, 0.7);
      font-size: 13px;
    }

    &:hover,
    &:focus {
      .description {
        @include transform(translateY(0));
      }
    }
  }
}

.supporters,
.partners,
.organizers,
.coc {
  h1 {
    margin: 30px 0;
    font-size: 41px;
  }
}

.supporters,
.partners {
  a {
    display: inline-block;
    margin: 0 20px 20px;
    text-align: center;
    vertical-align: top;
  }

  img {
    vertical-align: middle;
  }
}

.supporters {
  a {
    width: 236px;
    height: 93px;
    line-height: 93px;
    margin: 0 20px 50px;
  }
}

.partners {
  a {
    height: 54px;
    line-height: 54px;
    margin: 0 10px 20px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.bottom_column {
  float: left;
  width: 60%;
}

.clear {
  clear: both;
}

.organizer {
  display: inline-block;
  position: relative;
  margin: 0 10px 10px 0;

  img {
    width: 146px;
    margin-bottom: -6px;
    background: #666;
  }

  h2 {
    font-size: 13px;
    background: rgba(#000, 0.7);
    color: $accent;
    padding: 0.25em 0.5em;
    display: inline-block;

    position: absolute;
    bottom: 0;
  }
}

.main_section .twitter {
  float: left;
  width: 40%;

  h1 {
    font-size: 41px;
    margin-bottom: 20px;
  }
}

footer {
  background-color: $accent;
  color: $bg-color;
  padding: 20px 0 60px;

  .container {
    position: relative;
  }

  h1 {
    font-size: 41px;
    text-transform: uppercase;
    display: inline;
    margin-right: 20px;
  }

  .map_container {
    margin: 10px 0;
    background: #f2f2f2;
    border-radius: 3px;
    overflow: hidden;
  }

  .map {
    height: 340px;

    .leaflet-popup-content-wrapper {
      border-radius: 0px !important;
      background: rgba(#000, 0.7);

      h2 {
        font-size: 16px;
      }

      p {
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0.2em;

        small {
          font-size: 0.9em;
        }
      }
    }

    .leaflet-popup-tip {
      background: rgba(#000, 0.7);
    }
  }
}

.bottomnav {
  position: relative;
  z-index: 101;

  li {
    margin-right: 40px;
  }
  a {
    color: $bg-color;
    font-size: 14px;
    font-family: "sk-modernistregular";
    line-height: 18px;
    vertical-align: top;
    text-transform: lowercase;

    &:hover {
      text-shadow: 0 0 5px $bg-color;
    }
  }
}

@include mobile {
  header .container {
    min-height: 380px;
    height: 100vh;
    background-position: 50% 25%;
    background-size: contain;
  }

  h2.info {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 33.4106729%;
    letter-spacing: -1px;
  }

  nav.topnav {
    right: 0;
    left: 0;
    text-align: center;

    a {
      margin: 0 10px !important;
    }
  }

  section.main_section h1 {
    font-size: 36px;
    letter-spacing: -1px;
  }

  .speakers > .speaker {
    width: 100%;
    height: auto;
    padding-bottom: 50%;
    background-size: cover;
  }

  .supporters {
    h1 {
      text-align: left;
    }
    text-align: center;
  }

  .bottom_column,
  .main_section .twitter {
    float: none;
    width: 100%;
  }

  nav.bottomnav ul.horizontal {
    li {
      display: block;
      height: 24px;
      line-height: 24px;
    }

    li:first-child {
      margin-bottom: 40px;
    }
  }
}
