@import bourbon/bourbon

$background-light:  rgba(222,238,234,0.4)
$background-dark:   rgba(158,208,195,0.8)
$border-inside:     darken($background-dark, 10%)
$background:        rgba(222,238,234,0.8)
$foreground:        #252525
$border:            #7dada0
$shadow:            #ebfcf9
$footer:            #272727

body
  margin:           0
  padding:          0
  font-family:      'Open Sans', $verdana
  background:       url("/images/background.jpg") no-repeat center center fixed
  background-size:  cover
  text-shadow:      0px 1px 0px $shadow
  font-family:      'Open Sans', $verdana

a
  text-decoration:  none

  &:link, &:visited
    color: $foreground

#previous
  font-family:      'Lato', $verdana
  background-color: $background-light
  text-transform:   uppercase
  font-size:        85%
  padding:          .5em
  color:            #333
  text-shadow:      none

#main
  +border-radius(10px)
  +box-shadow(0 0 3px 2px hsla(0, 0%, 0%, 0.30))
  background-color: $background
  color:            $foreground
  width:            600px
  height:           300px
  position:         absolute
  left:             50%
  top:              50%
  margin-left:      -300px
  margin-top:       -125px
  padding:          1em

#box
  background-color: $background-dark
  text-align:       center
  +border-radius(10px 10px 0 0)
  border-right:     1px solid $border-inside
  border-bottom:    1px solid $border-inside
  margin-top:       -1em
  margin-left:      -1em
  margin-right:     -1em
  padding:          1em
  margin-bottom:    1.4em

#icons
  position: absolute
  float:right
  right: 2em
  top: 0

  p
    +border-radius(40px)
    margin-left: 1em
    display: inline-block
    height: 80px
    width:  80px
    border: 1px solid $border-inside
    background-color: $background-dark

    &:hover
      background-color: darken($background-dark, 10%)
      border-color: darken($border-inside, 10%)

p
  font-weight:  bold

p.location
  text-transform: uppercase
  font-weight:    normal

#content
  text-align: center

form
  margin: auto
  display: inline-block

input
  +box-shadow(0 0 1px 1px $border)
  +border-radius(3px)
  border:           none
  background-color: white
  font-size:        11px
  padding:          7px

button
  +button($border)

h1, h2
  font-size:     2.5em
  margin-bottom: 0.2em
  margin-top:    0

h1
  font-family:  'Play', $verdana
  font-size:    300%

h2
  text-transform: uppercase
  font-family:   'Lato', $verdana
  font-size:     1.2em

footer
  width:        100%
  position:     absolute
  bottom:       0
  left:         0
  color:        $footer
  font-size:    0.8em
  text-align:   center

  p
    display: inline-block

  a
    text-decoration: underline

#legal
  font-family:    'Lato', $verdana
  text-shadow:    none
  position:       absolute
  bottom:         0
  float:          left
  left:           0
  font-size:      75%
  margin-left:    10px
  text-transform: uppercase
  color:          #999

  a
    font-weight: normal
    color:       #888
