@import bourbon/bourbon
@import neat/neat

// Colors
$accent: #d41b2d
$text-color: #100203
$background-color: #fff

// Sizes
$font-size: 14px
$line-height: 1.3

// A convenient shorthand for setting calculating things using the modular scale
// based on font-size
//
// Inspired by Foundation 3.0
@function ms($n)
    @return floor(golden-ratio($font-size, $n))

// Lightweight reset
body, h1, h2, h3, p, ul
    margin: 0
    padding: 0

///////////////////////////////////////////////////////////////////////////////

body
    background: $background-color
    color: $text-color
    font-family: "Open Sans", $verdana
    font-size: ms(0)
    line-height: $line-height

h1
    font-size: ms(2)
h2
    font-size: ms(1)
a
    color: $accent

#topbar
    background: $text-color
    color: $background-color
    overflow: hidden

    font-size: 0.8em
    padding: 0.25em 0.5em

    a
        text-decoration: none
        color: mix($accent, $background-color)
        &:hover
            text-decoration: underline

    .previous
        float: left
    .links
        float: right

.site_header, .main_nav
    background: $accent
    color: $background-color
    text-align: center

.site_header
    padding: 3em 0 2em
    -webkit-font-smoothing: antialiased

    h1
        font-size: ms(3)

    .date, .location
        display: block

.main_nav
    margin-bottom: 1em

    li
        display: inline

    a
        display: inline-block
        padding: 0.5em 1em
        color: $background-color
        text-transform: uppercase
        text-decoration: none

        &:hover
            background-color: mix($accent, $background-color, 80%)

.content
    +outer-container

    h1
        text-transform: uppercase
        text-align: center
        margin: 1em 0

    a
        text-decoration: none

        &:hover
            text-decoration: underline

.content p, .site_footer p
    margin-bottom: 1em

.tickets
    display: block
    font-size: ms(2)
    text-align: center
    background: mix($accent, $background-color, 50%)
    color: $text-color
    padding: 1em 0
    margin: 1em 0

    &:hover
        text-decoration: none
        background: mix($accent, $background-color, 30%)

.about
    margin: 1em 0
    font-size: ms(1)

.speaker
    display: inline-block
    width: 24%
    margin: 1%
    padding: 4px
    background: $accent
    color: $background-color
    margin-right: -4px
    -webkit-font-smoothing: antialiased

    +box-sizing(border-box)

    h2, h3
        padding: 0 6px
    h2
        font-size: ms(1)
    h3
        font-size: ms(0)
        padding-bottom: 2px

    .photo
        width: 100%

.call_for_papers
    margin: 1em 0
    text-align: center
    font-size: ms(1)

    h2
        font-size: ms(2)
        margin-top: 1em

.site_footer
    text-align: center
    margin: 4em 0 12em