@import bourbon/bourbon
@import neat/neat
@import agenda

// Colors
$accent: #d41b2d
$text-color: #100203
$background-color: #fff

// Sizes
$font-size: 14px
$line-height: 1.4

// A convenient shorthand for setting calculating things using the modular scale
// based on font-size
//
// Inspired by Foundation 3.0
@function ms($n)
    @return floor(golden-ratio($font-size, $n))

// Returns the line-height adjusted for vertical rhythm
@function rhythm($px)
    $total-height: $font-size * $line-height
    @return ceil($px / $total-height) * $total-height


@mixin inverted
    background: $accent
    color: $background-color
    -webkit-font-smoothing: antialiased

    a
        color: $background-color

// Lightweight reset
body, h1, h2, h3, p, ul
    margin: 0
    padding: 0

///////////////////////////////////////////////////////////////////////////////

body
    background: $background-color
    color: $text-color
    font-family: "Open Sans", $verdana
    font-size: ms(0)
    line-height: $line-height

h1
    font-size: ms(3)
h2
    font-size: ms(2)
    line-height: rhythm(ms(2))
a
    color: $accent

#topbar
    background: $text-color
    color: $background-color
    overflow: hidden

    font-size: 0.8em
    padding: 0.25em 0.5em

    a
        text-decoration: none
        color: mix($accent, $background-color)
        &:hover
            text-decoration: underline

    .previous
        float: left
    .links
        float: right

.site_header, .main_nav
    background: $accent
    color: $background-color
    text-align: center

.site_header
    padding: 3em 0 2em
    -webkit-font-smoothing: antialiased

    h1
        font-family: Bitter
        font-size: ms(4)
        line-height: rhythm(ms(4))
        margin-bottom: 0.125em

    .date, .location
        display: block

.main_nav
    margin-bottom: 1em

    li
        display: inline

    a
        display: inline-block
        padding: 0.5em 1em
        color: $background-color
        text-transform: uppercase
        text-decoration: none

        &:hover
            background-color: mix($accent, $background-color, 80%)

.content
    +outer-container

    h1
        text-transform: uppercase
        text-align: center
        margin: 0.5em 0

    a
        text-decoration: none

        &:hover
            text-decoration: underline

.content p, .site_footer p
    margin-bottom: 1em

.tickets
    display: block
    font-size: ms(2)
    text-align: center
    background: mix($accent, $background-color, 50%)
    color: $text-color
    padding: 1em 0
    margin: 1em 0

    &:hover
        text-decoration: none
        background: mix($accent, $background-color, 30%)

.about, #workshops p
    margin: 1em 0
    font-size: ms(1)

//////////////////////////////////////////////////////////////////

.speaker
    padding: 4px
    margin: 4px 0 4px 7px
    +inverted

    .photo
        width: 220px
        margin-right: 8px

.inactive.speaker
    display: inline-block
    width: 228px

    h2
        font-size: ms(1)
        padding: 0 6px 3px
    h3
        font-size: ms(0)

    .description
        display: none

.active.speaker
    h2
        font-size: ms(2)
        padding: 0 6px 3px
    h3
        font-size: ms(1)
        line-height: rhythm(ms(1))

    .photo
        float: left

    .description
        margin-left: 228px


.call_for_papers
    margin: 1em 0
    text-align: center
    font-size: ms(1)

    h2
        font-size: ms(2)
        margin-top: 1em

/////////////////////////////////////////////////////////////////

.agenda .days > li
    width: 33.3333333%

.agenda .days ul li
    padding: 0.25em 0.5em
    +inverted

/////////////////////////////////////////////////////////////////

.site_footer
    text-align: center
    margin: 4em 0 12em